// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Transitions
/// @source http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/// Box Sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -ms-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  -o-box-sizing: $box-model;
  box-sizing: $box-model;
}

/// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/// SVG with PNG and retina fallback
/// @source http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
/// Usage: @include background-image('../../images', 'pattern');
@mixin background-image($image-path, $name, $size:false){
  background: url(#{$image-path}/#{$name}.svg);
  background-repeat: no-repeat;
  background-position: center center;
  @if($size){
    background-size: $size;
  }
  .no-svg &{
    background-image: url(#{$image-path}/#{$fallback-folder}/#{$name}.#{$fallback-extension});
    background-repeat: no-repeat;
    background-position: center center;
    @if($size){
      background-size: $size;
    }

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$retina-folder}/#{$name}.#{$fallback-extension});
      background-repeat: no-repeat;
      background-position: center center;
      @if($size){
        background-size: $size;
      }
    }
  }
}

/// Clearfix technique: clear after floats
/// @author Philippe De Pauw - Waterschoot
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

/// Make Grid Columns
/// @author Philippe De Pauw - Waterschoot
/// edited by Stijn Meersschaert to use margins instead of padding
/// @param {Map} $breakpoints [$grid-breakpoints]
@mixin make-grid-columns($breakpoints:$grid-breakpoints, $gutter:$grid_gutter, $columns-amount:$grid-columns-amount) {

  $list:".grid__column";

  @each $breakpoint-key, $breakpoint-val in $breakpoints {
    @for $i from 1 through $columns-amount {
      $list: "#{$list}, .grid__column-#{$breakpoint-key}-#{$i}";
    }
  }

  #{$list} {
    position: relative;
    float:left;
    width:100%;
    min-height:1px;
    margin-left: #{$grid_gutter*0.5%};
    margin-right: #{$grid_gutter*0.5%};
    overflow:hidden;
  }

}

/// Make Grid Media Queries
/// @author Philippe De Pauw - Waterschoot
/// @param {Map} $breakpoints [$grid-breakpoints]
@mixin make-grid-queries($breakpoints:$grid-breakpoints, $gutter:$grid_gutter, $columns-amount:$grid-columns-amount) {

  @each $breakpoint-key, $breakpoint-val in $breakpoints {
    @media (min-width: $breakpoint-val) {
      @for $i from 1 through $columns-amount {

        .grid__column-#{$breakpoint-key}-#{$i} {
          width: #{(($i/$columns-amount)*100%)-$gutter+10};
        }

        @if ( $i != $columns-amount ) {
          .grid__offset-#{$breakpoint-key}-#{$i} {
            margin-left: #{(($i/$columns-amount)*100%)};
          }
          .grid__offset-#{$breakpoint-key}-0 {
            margin-left: #{$grid_gutter*0.5%};
          }
        }

      }
    }
  }
}