@each $color-key1, $color-val1 in $colors {
  @each $color-key2, $color-val2 in $colors {
    .button-#{$color-key1}-#{$color-key2} {

      color: $color-val1 !important;
      border: 0.2rem solid $color-val1;

      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5rem;
      padding: 0.5rem 2.5rem;
      background: none;

      &:hover, &:active {
        color: $color-val2 !important;
        background: $color-val1;
      }
    }
  }
}