@each $color-key, $color-val in $colors {
  .button-#{$color-key} {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    color: $color-val !important;
    border: 0.2rem solid $color-val;
    background: none;

    &:hover, &:active {
      color: map_get($colors, "dGrey") !important;
      background: $color-val;
    }


  }
}