/// Project Settings
/// ============================================================================

/// Modular Scale Settings
/// ============================================================================
/// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3: 10.13 !default;
$ms-2: 12.003 !default;
$ms-1: 13.503 !default;
$ms0: 16 !default;
$ms1: 18 !default;
$ms2: 21.328 !default;
$ms3: 23.994 !default;
$ms4: 28.43 !default;
$ms5: 31.984 !default;
$ms6: 37.897 !default;
$ms7: 42.635 !default;
$ms8: 50.517 !default;
$ms10: 56.832 !default;
$ms11: 67.34 !default;
$ms12: 75.757 !default;
$ms13: 89.764 !default;
$ms14: 100.984 !default;

/// Grid Variables
/// ============================================================================
$grid-breakpoints: (
        "bp1": 320/$ms0*1rem,
        "bp2": 480/$ms0*1rem,
        "bp3": 640/$ms0*1rem,
        "bp4": 800/$ms0*1rem,
        "bp5": 960/$ms0*1rem,
        "bp6": 1024/$ms0*1rem,
        "bp7": 1280/$ms0*1rem
);
$grid-columns-amount: 12 !default;
$grid-container-max-width: map_get($grid-breakpoints, 'bp7') !default;
$grid-gutter: 2;

/// Typography Settings
/// ============================================================================

/// Regular/Base font family
/// @type List
$font-family-base: 'Lato', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-size-base: $ms0 !default;
$font-weight-base:400 !default;
$line-height-base:1.42;

/// Heading font family
/// @type List
$font-family-heading: 'Vollkorn', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-weight-heading:700 !default;

/// Code (monospace) font family
/// @type List
$font-family-code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Color Settings
/// ============================================================================
$colors: (
  "white": rgba(255, 255, 255, 1.0),
  "black": rgba(0, 0, 0, 1.0),
  "lGrey": rgba(65, 65, 65, 1.0),
  "dGrey": rgba(33, 33, 33, 1.0),
  "yellow": rgba(255, 222, 0, 1.0)
);

/// SVG with PNG and retina fallback
/// @source http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
$fallback-extension: 'png' !default;
$fallback-folder: 'nosvg' !default;
$retina-folder: 'nosvg_retina';