/// Footer specific styles
footer {
  #footer_socials {
    margin-top: 2.5rem;
    [class*='logo-background-']  {
      font-size: 1.5rem;
    }
    i {
      font-size: 2.0rem;
    }

    @media (min-width: map_get($grid-breakpoints, "bp1")) {
      & p {
        display: none;
      }
    }
    @media (min-width: map_get($grid-breakpoints, "bp5")) {
      & p {
        display: block;
      }
    }
  }
  #footer_pages {
    border-top: 0.15em solid map_get($colors, "lGrey");
    border-bottom: 0.15em solid map_get($colors, "lGrey");
    padding-bottom: 1.0rem;
  }
  #footer_rss {
    margin-top: 1rem;
    margin-bottom: 2rem;

    a {
      margin: 0.25rem 0;
    }
  }
}