#navigation {

  @media (min-width: map_get($grid-breakpoints, "bp1")) {
    position: absolute;
    top: 0;
    width: 100vw;
    max-height: 2rem;
    & i {
      color: map_get($colors, "yellow");
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    & ul li a p {
      display: none;
    }
  }
  @media (min-width: map_get($grid-breakpoints, "bp4")) {

    &.homepage {
      position: relative;
      height: 100%;
      display: table-row;
      & nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.page {
      position: static;
      display: table;
      & nav {
        position: static;
        & i {
          font-size: 1.5rem;
          display: inline-block;
          float: left;
        }
      }
    }

    & i {
      color: map_get($colors, "lGrey");
      font-size: 2.5rem;
      line-height: 3rem;
    }

    & a:hover i {
      color: map_get($colors, "yellow");
    }
    
    & ul li {
      list-style-type: none;
      & a p {
        display: block;
      }
    }
  }


  & .fixed {
    position: fixed !important;
    top: 0;
    bottom: auto !important;
  }
}

.navigation {
  background-color: map_get($colors, "dGrey");
  padding: 0;
  max-width: 100vw !important;
  min-width: 100vw!important;
  z-index: 100;
}