/// Generic: Box sizing
/// ============================================================================
/// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  @include box-sizing(border-box);
  width: 100%;
  overflow-x:hidden;
}

* {
  &,
  &::before,
  &::after {
    @include box-sizing(inherit);
  }
}