/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

/* *\
 Grid system
 ============================================================================
\* */
.grid__container {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
  zoom: 1; }
  .grid__container:before, .grid__container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .grid__container:after {
    clear: both; }

.grid__row {
  margin-left: -1rem;
  margin-right: -1rem;
  zoom: 1; }
  .grid__row:before, .grid__row:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .grid__row:after {
    clear: both; }
  .grid__row .grid__row {
    margin-left: -1rem;
    margin-right: -1rem; }
  .grid__row_spacing_vrt_s {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .grid__row_spacing_vrt_m {
    margin-top: 2.5em;
    margin-bottom: 2.5rem; }
  .grid__row_spacing_vrt_l {
    margin-top: 5rem;
    margin-bottom: 5rem; }

.grid__column, .grid__column-bp1-1, .grid__column-bp1-2, .grid__column-bp1-3, .grid__column-bp1-4, .grid__column-bp1-5, .grid__column-bp1-6, .grid__column-bp1-7, .grid__column-bp1-8, .grid__column-bp1-9, .grid__column-bp1-10, .grid__column-bp1-11, .grid__column-bp1-12, .grid__column-bp2-1, .grid__column-bp2-2, .grid__column-bp2-3, .grid__column-bp2-4, .grid__column-bp2-5, .grid__column-bp2-6, .grid__column-bp2-7, .grid__column-bp2-8, .grid__column-bp2-9, .grid__column-bp2-10, .grid__column-bp2-11, .grid__column-bp2-12, .grid__column-bp3-1, .grid__column-bp3-2, .grid__column-bp3-3, .grid__column-bp3-4, .grid__column-bp3-5, .grid__column-bp3-6, .grid__column-bp3-7, .grid__column-bp3-8, .grid__column-bp3-9, .grid__column-bp3-10, .grid__column-bp3-11, .grid__column-bp3-12, .grid__column-bp4-1, .grid__column-bp4-2, .grid__column-bp4-3, .grid__column-bp4-4, .grid__column-bp4-5, .grid__column-bp4-6, .grid__column-bp4-7, .grid__column-bp4-8, .grid__column-bp4-9, .grid__column-bp4-10, .grid__column-bp4-11, .grid__column-bp4-12, .grid__column-bp5-1, .grid__column-bp5-2, .grid__column-bp5-3, .grid__column-bp5-4, .grid__column-bp5-5, .grid__column-bp5-6, .grid__column-bp5-7, .grid__column-bp5-8, .grid__column-bp5-9, .grid__column-bp5-10, .grid__column-bp5-11, .grid__column-bp5-12, .grid__column-bp6-1, .grid__column-bp6-2, .grid__column-bp6-3, .grid__column-bp6-4, .grid__column-bp6-5, .grid__column-bp6-6, .grid__column-bp6-7, .grid__column-bp6-8, .grid__column-bp6-9, .grid__column-bp6-10, .grid__column-bp6-11, .grid__column-bp6-12, .grid__column-bp7-1, .grid__column-bp7-2, .grid__column-bp7-3, .grid__column-bp7-4, .grid__column-bp7-5, .grid__column-bp7-6, .grid__column-bp7-7, .grid__column-bp7-8, .grid__column-bp7-9, .grid__column-bp7-10, .grid__column-bp7-11, .grid__column-bp7-12 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  margin-left: 1%;
  margin-right: 1%;
  overflow: hidden; }

@media (min-width: 20rem) {
  .grid__column-bp1-1 {
    width: 6.33333%; }

  .grid__offset-bp1-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-2 {
    width: 14.66667%; }

  .grid__offset-bp1-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-3 {
    width: 23%; }

  .grid__offset-bp1-3 {
    margin-left: 25%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-4 {
    width: 31.33333%; }

  .grid__offset-bp1-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-5 {
    width: 39.66667%; }

  .grid__offset-bp1-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-6 {
    width: 48%; }

  .grid__offset-bp1-6 {
    margin-left: 50%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-7 {
    width: 56.33333%; }

  .grid__offset-bp1-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-8 {
    width: 64.66667%; }

  .grid__offset-bp1-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-9 {
    width: 73%; }

  .grid__offset-bp1-9 {
    margin-left: 75%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-10 {
    width: 81.33333%; }

  .grid__offset-bp1-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-11 {
    width: 89.66667%; }

  .grid__offset-bp1-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp1-0 {
    margin-left: 1%; }

  .grid__column-bp1-12 {
    width: 98%; } }
@media (min-width: 30rem) {
  .grid__column-bp2-1 {
    width: 6.33333%; }

  .grid__offset-bp2-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-2 {
    width: 14.66667%; }

  .grid__offset-bp2-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-3 {
    width: 23%; }

  .grid__offset-bp2-3 {
    margin-left: 25%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-4 {
    width: 31.33333%; }

  .grid__offset-bp2-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-5 {
    width: 39.66667%; }

  .grid__offset-bp2-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-6 {
    width: 48%; }

  .grid__offset-bp2-6 {
    margin-left: 50%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-7 {
    width: 56.33333%; }

  .grid__offset-bp2-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-8 {
    width: 64.66667%; }

  .grid__offset-bp2-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-9 {
    width: 73%; }

  .grid__offset-bp2-9 {
    margin-left: 75%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-10 {
    width: 81.33333%; }

  .grid__offset-bp2-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-11 {
    width: 89.66667%; }

  .grid__offset-bp2-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp2-0 {
    margin-left: 1%; }

  .grid__column-bp2-12 {
    width: 98%; } }
@media (min-width: 40rem) {
  .grid__column-bp3-1 {
    width: 6.33333%; }

  .grid__offset-bp3-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-2 {
    width: 14.66667%; }

  .grid__offset-bp3-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-3 {
    width: 23%; }

  .grid__offset-bp3-3 {
    margin-left: 25%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-4 {
    width: 31.33333%; }

  .grid__offset-bp3-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-5 {
    width: 39.66667%; }

  .grid__offset-bp3-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-6 {
    width: 48%; }

  .grid__offset-bp3-6 {
    margin-left: 50%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-7 {
    width: 56.33333%; }

  .grid__offset-bp3-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-8 {
    width: 64.66667%; }

  .grid__offset-bp3-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-9 {
    width: 73%; }

  .grid__offset-bp3-9 {
    margin-left: 75%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-10 {
    width: 81.33333%; }

  .grid__offset-bp3-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-11 {
    width: 89.66667%; }

  .grid__offset-bp3-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp3-0 {
    margin-left: 1%; }

  .grid__column-bp3-12 {
    width: 98%; } }
@media (min-width: 50rem) {
  .grid__column-bp4-1 {
    width: 6.33333%; }

  .grid__offset-bp4-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-2 {
    width: 14.66667%; }

  .grid__offset-bp4-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-3 {
    width: 23%; }

  .grid__offset-bp4-3 {
    margin-left: 25%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-4 {
    width: 31.33333%; }

  .grid__offset-bp4-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-5 {
    width: 39.66667%; }

  .grid__offset-bp4-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-6 {
    width: 48%; }

  .grid__offset-bp4-6 {
    margin-left: 50%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-7 {
    width: 56.33333%; }

  .grid__offset-bp4-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-8 {
    width: 64.66667%; }

  .grid__offset-bp4-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-9 {
    width: 73%; }

  .grid__offset-bp4-9 {
    margin-left: 75%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-10 {
    width: 81.33333%; }

  .grid__offset-bp4-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-11 {
    width: 89.66667%; }

  .grid__offset-bp4-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp4-0 {
    margin-left: 1%; }

  .grid__column-bp4-12 {
    width: 98%; } }
@media (min-width: 60rem) {
  .grid__column-bp5-1 {
    width: 6.33333%; }

  .grid__offset-bp5-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-2 {
    width: 14.66667%; }

  .grid__offset-bp5-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-3 {
    width: 23%; }

  .grid__offset-bp5-3 {
    margin-left: 25%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-4 {
    width: 31.33333%; }

  .grid__offset-bp5-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-5 {
    width: 39.66667%; }

  .grid__offset-bp5-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-6 {
    width: 48%; }

  .grid__offset-bp5-6 {
    margin-left: 50%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-7 {
    width: 56.33333%; }

  .grid__offset-bp5-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-8 {
    width: 64.66667%; }

  .grid__offset-bp5-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-9 {
    width: 73%; }

  .grid__offset-bp5-9 {
    margin-left: 75%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-10 {
    width: 81.33333%; }

  .grid__offset-bp5-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-11 {
    width: 89.66667%; }

  .grid__offset-bp5-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp5-0 {
    margin-left: 1%; }

  .grid__column-bp5-12 {
    width: 98%; } }
@media (min-width: 64rem) {
  .grid__column-bp6-1 {
    width: 6.33333%; }

  .grid__offset-bp6-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-2 {
    width: 14.66667%; }

  .grid__offset-bp6-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-3 {
    width: 23%; }

  .grid__offset-bp6-3 {
    margin-left: 25%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-4 {
    width: 31.33333%; }

  .grid__offset-bp6-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-5 {
    width: 39.66667%; }

  .grid__offset-bp6-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-6 {
    width: 48%; }

  .grid__offset-bp6-6 {
    margin-left: 50%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-7 {
    width: 56.33333%; }

  .grid__offset-bp6-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-8 {
    width: 64.66667%; }

  .grid__offset-bp6-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-9 {
    width: 73%; }

  .grid__offset-bp6-9 {
    margin-left: 75%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-10 {
    width: 81.33333%; }

  .grid__offset-bp6-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-11 {
    width: 89.66667%; }

  .grid__offset-bp6-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp6-0 {
    margin-left: 1%; }

  .grid__column-bp6-12 {
    width: 98%; } }
@media (min-width: 80rem) {
  .grid__column-bp7-1 {
    width: 6.33333%; }

  .grid__offset-bp7-1 {
    margin-left: 8.33333%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-2 {
    width: 14.66667%; }

  .grid__offset-bp7-2 {
    margin-left: 16.66667%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-3 {
    width: 23%; }

  .grid__offset-bp7-3 {
    margin-left: 25%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-4 {
    width: 31.33333%; }

  .grid__offset-bp7-4 {
    margin-left: 33.33333%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-5 {
    width: 39.66667%; }

  .grid__offset-bp7-5 {
    margin-left: 41.66667%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-6 {
    width: 48%; }

  .grid__offset-bp7-6 {
    margin-left: 50%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-7 {
    width: 56.33333%; }

  .grid__offset-bp7-7 {
    margin-left: 58.33333%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-8 {
    width: 64.66667%; }

  .grid__offset-bp7-8 {
    margin-left: 66.66667%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-9 {
    width: 73%; }

  .grid__offset-bp7-9 {
    margin-left: 75%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-10 {
    width: 81.33333%; }

  .grid__offset-bp7-10 {
    margin-left: 83.33333%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-11 {
    width: 89.66667%; }

  .grid__offset-bp7-11 {
    margin-left: 91.66667%; }

  .grid__offset-bp7-0 {
    margin-left: 1%; }

  .grid__column-bp7-12 {
    width: 98%; } }
* {
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16;
  font-weight: 400;
  line-height: 1.42; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 6.3115rem;
  line-height: 2em; }
  @media (min-width: 20rem) {
    h1 {
      font-size: 3.15731rem;
      line-height: 4.73481rem; } }
  @media (min-width: 50rem) {
    h1 {
      font-size: 4.73481rem;
      line-height: 6.3115rem; } }
  @media (min-width: 50rem) {
    h1 {
      font-size: 6.3115rem;
      line-height: 6.3115rem; } }

h2 {
  font-size: 1.77688rem;
  line-height: 1.5em; }

h3 {
  font-size: 1.333rem;
  line-height: 1.25em; }

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1em; }

blockquote {
  font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.333rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.42em; }

pre {
  display: block;
  padding: 14px;
  font-family: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
  font-size: 0.84394rem;
  line-height: 1.42em;
  word-break: break-all;
  word-wrap: break-word;
  background: #222;
  color: #fff; }

code {
  font-family: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace;
  font-size: 0.84394rem;
  line-height: 1.42em;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1); }

a {
  color: #414141;
  text-decoration: none; }
  a:visited {
    color: #414141; }
  a:hover, a:active {
    color: #ffde00; }

.white {
  color: white; }

.bg-white {
  background-color: white; }

.border-solid-white {
  border: 0.25rem solid white;
  padding: 2rem; }

.decorative_lines_white {
  position: relative;
  text-align: center; }
  .decorative_lines_white > *:before, .decorative_lines_white > *:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10rem;
    height: 0.25rem;
    margin-left: -5rem;
    background: white; }
  .decorative_lines_white > *:before {
    top: 0.5rem; }
  .decorative_lines_white > *:after {
    bottom: 0.5rem; }

.logo-background-white {
  background: url(../images/logo/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: "contain"; }
  .no-svg .logo-background-white {
    background-image: url(../images/logo/nosvg/logo-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "contain"; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-background-white {
        background-image: url(../images/logo/nosvg_retina/logo-white.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: "contain"; } }
  a:hover .logo-background-white {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:hover .logo-background-white {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:hover .logo-background-white {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }
  a:active .logo-background-white {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:active .logo-background-white {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:active .logo-background-white {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }

.black {
  color: black; }

.bg-black {
  background-color: black; }

.border-solid-black {
  border: 0.25rem solid black;
  padding: 2rem; }

.decorative_lines_black {
  position: relative;
  text-align: center; }
  .decorative_lines_black > *:before, .decorative_lines_black > *:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10rem;
    height: 0.25rem;
    margin-left: -5rem;
    background: black; }
  .decorative_lines_black > *:before {
    top: 0.5rem; }
  .decorative_lines_black > *:after {
    bottom: 0.5rem; }

.logo-background-black {
  background: url(../images/logo/logo-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: "contain"; }
  .no-svg .logo-background-black {
    background-image: url(../images/logo/nosvg/logo-black.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "contain"; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-background-black {
        background-image: url(../images/logo/nosvg_retina/logo-black.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: "contain"; } }
  a:hover .logo-background-black {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:hover .logo-background-black {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:hover .logo-background-black {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }
  a:active .logo-background-black {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:active .logo-background-black {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:active .logo-background-black {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }

.lGrey {
  color: #414141; }

.bg-lGrey {
  background-color: #414141; }

.border-solid-lGrey {
  border: 0.25rem solid #414141;
  padding: 2rem; }

.decorative_lines_lGrey {
  position: relative;
  text-align: center; }
  .decorative_lines_lGrey > *:before, .decorative_lines_lGrey > *:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10rem;
    height: 0.25rem;
    margin-left: -5rem;
    background: #414141; }
  .decorative_lines_lGrey > *:before {
    top: 0.5rem; }
  .decorative_lines_lGrey > *:after {
    bottom: 0.5rem; }

.logo-background-lGrey {
  background: url(../images/logo/logo-lGrey.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: "contain"; }
  .no-svg .logo-background-lGrey {
    background-image: url(../images/logo/nosvg/logo-lGrey.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "contain"; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-background-lGrey {
        background-image: url(../images/logo/nosvg_retina/logo-lGrey.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: "contain"; } }
  a:hover .logo-background-lGrey {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:hover .logo-background-lGrey {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:hover .logo-background-lGrey {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }
  a:active .logo-background-lGrey {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:active .logo-background-lGrey {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:active .logo-background-lGrey {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }

.dGrey {
  color: #212121; }

.bg-dGrey {
  background-color: #212121; }

.border-solid-dGrey {
  border: 0.25rem solid #212121;
  padding: 2rem; }

.decorative_lines_dGrey {
  position: relative;
  text-align: center; }
  .decorative_lines_dGrey > *:before, .decorative_lines_dGrey > *:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10rem;
    height: 0.25rem;
    margin-left: -5rem;
    background: #212121; }
  .decorative_lines_dGrey > *:before {
    top: 0.5rem; }
  .decorative_lines_dGrey > *:after {
    bottom: 0.5rem; }

.logo-background-dGrey {
  background: url(../images/logo/logo-dGrey.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: "contain"; }
  .no-svg .logo-background-dGrey {
    background-image: url(../images/logo/nosvg/logo-dGrey.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "contain"; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-background-dGrey {
        background-image: url(../images/logo/nosvg_retina/logo-dGrey.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: "contain"; } }
  a:hover .logo-background-dGrey {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:hover .logo-background-dGrey {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:hover .logo-background-dGrey {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }
  a:active .logo-background-dGrey {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:active .logo-background-dGrey {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:active .logo-background-dGrey {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }

.yellow {
  color: #ffde00; }

.bg-yellow {
  background-color: #ffde00; }

.border-solid-yellow {
  border: 0.25rem solid #ffde00;
  padding: 2rem; }

.decorative_lines_yellow {
  position: relative;
  text-align: center; }
  .decorative_lines_yellow > *:before, .decorative_lines_yellow > *:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 10rem;
    height: 0.25rem;
    margin-left: -5rem;
    background: #ffde00; }
  .decorative_lines_yellow > *:before {
    top: 0.5rem; }
  .decorative_lines_yellow > *:after {
    bottom: 0.5rem; }

.logo-background-yellow {
  background: url(../images/logo/logo-yellow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: "contain"; }
  .no-svg .logo-background-yellow {
    background-image: url(../images/logo/nosvg/logo-yellow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "contain"; }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-background-yellow {
        background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: "contain"; } }
  a:hover .logo-background-yellow {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:hover .logo-background-yellow {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:hover .logo-background-yellow {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }
  a:active .logo-background-yellow {
    background: url(../images/logo/logo-yellow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: "cover"; }
    .no-svg a:active .logo-background-yellow {
      background-image: url(../images/logo/nosvg/logo-yellow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: "cover"; }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg a:active .logo-background-yellow {
          background-image: url(../images/logo/nosvg_retina/logo-yellow.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: "cover"; } }

.content_center {
  position: relative; }
  .content_center > .center {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.content_center_vrt {
  position: relative;
  height: 100%; }
  .content_center_vrt > .center_vrt {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(50%); }

.center_hor_text {
  text-align: center;
  display: inline-block;
  width: 100%; }
.center_hor_block {
  display: inline-block;
  margin: 0 auto; }

.full_width {
  width: 100% !important; }

.full_height {
  min-height: 100% !important; }

.hero-image {
  z-index: 1;
  background: url(https://source.unsplash.com/6PF6DaiWz48/);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #7f7f7f;
  background-blend-mode: multiply; }
  .hero-image:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to bottom, transparent, #212121 80%);
    background-image: -moz-linear-gradient(to bottom, transparent, #212121 80%);
    background-image: -o-linear-gradient(to bottom, transparent, #212121 80%);
    background-image: linear-gradient(to bottom, transparent, #212121 80%); }

#navigation {
  background-color: #212121; }
  @media (min-width: 20rem) {
    #navigation {
      position: absolute;
      top: 0;
      width: 100vw;
      max-height: 2rem; }
      #navigation i {
        color: #ffde00;
        font-size: 1.5rem;
        line-height: 1.5rem; }
      #navigation ul li a p {
        display: none; } }
  @media (min-width: 50rem) {
    #navigation {
      position: relative;
      height: 100%;
      display: table-row; }
      #navigation nav {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      #navigation i {
        color: #414141;
        font-size: 2.5rem;
        line-height: 3rem; }
      #navigation a:hover i {
        color: #ffde00; }
      #navigation ul li a p {
        display: block; } }

footer #footer_socials {
  margin-top: 2.5rem; }
  footer #footer_socials [class*='logo-background-'] {
    font-size: 1.5rem; }
  footer #footer_socials i {
    font-size: 2.0rem; }
  @media (min-width: 20rem) {
    footer #footer_socials p {
      display: none; } }
  @media (min-width: 60rem) {
    footer #footer_socials p {
      display: block; } }
footer #footer_pages {
  border-top: 0.15em solid #414141;
  border-bottom: 0.15em solid #414141;
  padding-bottom: 1.0rem; }
footer #footer_rss {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  footer #footer_rss a {
    margin: 0.25rem 0; }

.button-white {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: white !important;
  border: 0.2rem solid white;
  background: none; }
  .button-white:hover, .button-white:active {
    color: #212121 !important;
    background: white; }

.button-black {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: black !important;
  border: 0.2rem solid black;
  background: none; }
  .button-black:hover, .button-black:active {
    color: #212121 !important;
    background: black; }

.button-lGrey {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: #414141 !important;
  border: 0.2rem solid #414141;
  background: none; }
  .button-lGrey:hover, .button-lGrey:active {
    color: #212121 !important;
    background: #414141; }

.button-dGrey {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: #212121 !important;
  border: 0.2rem solid #212121;
  background: none; }
  .button-dGrey:hover, .button-dGrey:active {
    color: #212121 !important;
    background: #212121; }

.button-yellow {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  color: #ffde00 !important;
  border: 0.2rem solid #ffde00;
  background: none; }
  .button-yellow:hover, .button-yellow:active {
    color: #212121 !important;
    background: #ffde00; }

/*# sourceMappingURL=main.css.map */
