.wpcf7 {
  p {
    position: relative;
  }
  & input, textarea {
    width: 100%;
  }
  & input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid map_get($colors, "yellow");

    position: relative;
    top: -1.5rem;

    &:focus {
      outline: none;
    }
  }
  & textarea {
    background: none;
    border: 0.1rem solid map_get($colors, "yellow");

    position: relative;
    top: -1.5rem;

    &:focus {
      outline: none;
    }
  }
  & input[type=submit] {
    margin-top: 1rem;

    color: map-get($colors, "yellow") !important;
    border: 0.1rem solid map-get($colors, "yellow");

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    //padding: 0.5rem 2.5rem;
    background: none;

    &:hover, &:active {
      color: map_get($colors, "dGrey") !important;
      background: map_get($colors, "yellow");
    }
  }

  .input-active {
    line-height: 0;
    position: relative;
    & input, textarea {
      position: relative;
      top: 0rem;
    }
  }
}