/// Colors: font, background, border, decorative lines
@each $color-key, $color-val in $colors {
  // Font color
  .#{$color-key} {
    color: $color-val;
  }

  // Background color
  .bg-#{$color-key} {
    background-color: $color-val;
  }

  // Border color
  .border-solid-#{$color-key} {
    border: 0.5rem solid $color-val;
    padding: 2rem;
  }

  // Decorative lines
  .decorative_lines_#{$color-key} {
    position:relative;
    text-align: center;
    //display:table;
    //& h1,h2,h3,h4,h5,h6,a,p {
    & > * {
      &:before, &:after {
        content:'';
        position: absolute;
        left: 50%;
        width:10rem;
        height:0.25rem;
        margin-left: -5rem;
        background: $color-val;
      }
      &:before {
        top: 0.5rem;
      }
      &:after {
        bottom: 0.5rem;
      }
    }
  }

  //Logo background
  .logo-background-#{$color-key} {
    @include background-image('css/images/logo', 'logo-#{$color-key}', 'contain');
    a:hover &{
      @include background-image('css/images/logo', 'logo-yellow', 'cover');
    }
    a:active &{
      @include background-image('css/images/logo', 'logo-yellow', 'cover');
    }
  }
}

/// Center content of element
.content_center {
  position: relative;
  > .center {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content_center_vrt {
  position: relative;
  height: 100%;
  > .center_vrt {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(+25%);
  }
}

.center_hor {
  &_text {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  &_block {
    display: inline-block;
    margin: 0 auto;
  }
}

// align content left or right
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.justify {
  text-align: justify;
}
/// Allow container to go full width
.full_width {
  width: 100% !important;
}

.full_height {
  min-height: 100% !important;
}

/// Place Hero image background
.hero-image{
  z-index: 1;
  background: url(https://source.unsplash.com/featured/?black,white);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #7f7f7f;
  background-blend-mode: multiply;

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to bottom, transparent, map_get($colors, "dGrey") 80%);
    background-image:    -moz-linear-gradient(to bottom, transparent, map_get($colors, "dGrey") 80%);
    background-image:      -o-linear-gradient(to bottom, transparent, map_get($colors, "dGrey") 80%);
    background-image:         linear-gradient(to bottom, transparent, map_get($colors, "dGrey") 80%);
  }
}

/// display styles
@each $display-property in $display {
  .#{$display-property} {
    display: #{$display-property};
  }
};


/// bg gradient
.bg-onethird-yellow {
  background: -webkit-linear-gradient(to right, map_get($colors, "yellow") 0%, map_get($colors, "yellow") 33.333%, map_get($colors, "white") 33.333%, map_get($colors, "white") 100%);
  background:    -moz-linear-gradient(to right, map_get($colors, "yellow") 0%, map_get($colors, "yellow") 33.333%, map_get($colors, "white") 33.333%, map_get($colors, "white") 100%);
  background:      -o-linear-gradient(to right, map_get($colors, "yellow") 0%, map_get($colors, "yellow") 33.333%, map_get($colors, "white") 33.333%, map_get($colors, "white") 100%);
  background:         linear-gradient(to right, map_get($colors, "yellow") 0%, map_get($colors, "yellow") 33.333%, map_get($colors, "white") 33.333%, map_get($colors, "white") 100%);
};

/// bg image
#portfolio-image {

  z-index: 1;
  background: url(https://scontent-amt2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10914998_10200093054844847_905330581080529485_o.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100% !important;
}

//
.no-padding {
  padding: 0 !important;
}

.padding-2 {
  padding: 2rem;
}
.no-margin {
  margin: 0 !important;
}