/* *\
 Grid system
 ============================================================================
\* */

.grid__container {
  max-width: $grid-container-max-width;
  margin: 0 auto;
  padding-left: #{$grid_gutter*0.5%};
  padding-right: #{$grid_gutter*0.5%};
  @include clearfix;
}

.grid__row {
  margin-left: #{$grid_gutter/-2}rem;
  margin-right: #{$grid_gutter/-2}rem;
  @include clearfix;

  .grid__row {
    margin-left: #{$grid_gutter/-2}rem;
    margin-right: #{$grid_gutter/-2}rem;
  }

  &_spacing_vrt {
    &_s {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &_m {
      margin-top: 2.5em;
      margin-bottom: 2.5rem;
    }
    &_l {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}

@include make-grid-columns($grid-breakpoints, $grid_gutter, $grid-columns-amount);

@include make-grid-queries($grid-breakpoints, $grid-columns-amount);