* {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
}

h1 {
  font-size: #{$ms14 / $font-size-base}rem;
  line-height:2em;
  @media (min-width: map_get($grid-breakpoints, "bp1")) {
    font-size: #{$ms8 / $font-size-base}rem;
    line-height: #{$ms12 / $font-size-base}rem;
  }
  @media (min-width: map_get($grid-breakpoints, "bp4")) {
    font-size: #{$ms12 / $font-size-base}rem;
    line-height: #{$ms14 / $font-size-base}rem;

  }
  @media (min-width: map_get($grid-breakpoints, "bp4")) {
    font-size: #{$ms14 / $font-size-base}rem;
    line-height: #{$ms14 / $font-size-base}rem;

  }
}

h2 {
  font-size: #{$ms4 / $font-size-base}rem;
  line-height:1.5em;
}

h3 {
  font-size: #{$ms2 / $font-size-base}rem;
  line-height:1.25em;
}

h4,
h5,
h6 {
  font-size: ($ms0 / $font-size-base)*1rem;
  line-height:1em;
}

blockquote {
  font-family: $font-family-base;
  font-size: #{$ms2 / $font-size-base}rem;
  font-weight: $font-weight-base;
  font-style: italic;
  line-height: #{$line-height-base}em;
}

pre {
  display: block;
  padding: 14px;

  font-family: $font-family-code;
  font-size: #{$ms-1 / $font-size-base}rem;
  line-height: #{$line-height-base}em;
  word-break: break-all;
  word-wrap: break-word;

  background: #222;
  color: #fff;
}

code {
  font-family: $font-family-code;
  font-size: #{$ms-1 / $font-size-base}rem;
  line-height: #{$line-height-base}em;
  word-break: break-all;
  word-wrap: break-word;

  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, .1);
}

a {
  color: map_get($colors, "lGrey");
  text-decoration: none;

  &:visited{
    color: map_get($colors, "lGrey");
  }
  &:hover, &:active {
    color: map_get($colors, "yellow");
  }
}